build/
build-fix/
build-installtest/
*.o
*.so
*.a
*.lo
*.la
*.compiled
*.tar.gz
*.tar.bz2
*.tar.xz
*.zip
*.bak
*.swp
*.swo
*~
*.log
.vscode/
.idea/
.claude/
*.kate-swp
.DS_Store
Thumbs.db
builddir/
/default.png
# build outputs
/singularity-opt.tgz
/stage/
/build/
/build-labwc/
