[submodule "subprojects/libsingularity"]
	path = subprojects/libsingularity
	url = https://github.com/singularityos-lab/libsingularity.git
	branch = main

[submodule "subprojects/singularity-files"]
	path = subprojects/singularity-files
	url = https://github.com/singularityos-lab/singularity-files.git
	branch = main

[submodule "subprojects/singularity-leafs"]
	path = subprojects/singularity-leafs
	url = https://github.com/singularityos-lab/singularity-leafs.git
	branch = main

[submodule "subprojects/singularity-polkit-agent"]
	path = subprojects/singularity-polkit-agent
	url = https://github.com/singularityos-lab/singularity-polkit-agent.git
	branch = main

[submodule "subprojects/singularity-calculator"]
	path = subprojects/singularity-calculator
	url = https://github.com/singularityos-lab/singularity-calculator.git
	branch = main

[submodule "subprojects/xdg-desktop-portal-singularity"]
	path = subprojects/xdg-desktop-portal-singularity
	url = https://github.com/singularityos-lab/xdg-desktop-portal-singularity.git
	branch = main

[submodule "subprojects/labwc"]
	path = subprojects/labwc
	url = https://github.com/singularityos-lab/labwc.git
	branch = singularity
[submodule "subprojects/singularity-calendar"]
	path = subprojects/singularity-calendar
	url = https://github.com/singularityos-lab/singularity-calendar.git
	branch = main
[submodule "subprojects/singularity-demo"]
	path = subprojects/singularity-demo
	url = https://github.com/singularityos-lab/singularity-demo.git
	branch = main
[submodule "subprojects/singularity-edit"]
	path = subprojects/singularity-edit
	url = https://github.com/singularityos-lab/singularity-edit.git
	branch = main
[submodule "subprojects/singularity-git"]
	path = subprojects/singularity-git
	url = https://github.com/singularityos-lab/singularity-git.git
	branch = main
[submodule "subprojects/singularity-keyring"]
	path = subprojects/singularity-keyring
	url = https://github.com/singularityos-lab/singularity-keyring.git
	branch = main
[submodule "subprojects/singularity-monitor"]
	path = subprojects/singularity-monitor
	url = https://github.com/singularityos-lab/singularity-monitor.git
	branch = main
[submodule "subprojects/singularity-music"]
	path = subprojects/singularity-music
	url = https://github.com/singularityos-lab/singularity-music.git
	branch = main
[submodule "subprojects/singularity-photos"]
	path = subprojects/singularity-photos
	url = https://github.com/singularityos-lab/singularity-photos.git
	branch = main
[submodule "subprojects/singularity-store"]
	path = subprojects/singularity-store
	url = https://github.com/singularityos-lab/singularity-store.git
	branch = main
[submodule "subprojects/singularity-videos"]
	path = subprojects/singularity-videos
	url = https://github.com/singularityos-lab/singularity-videos.git
	branch = main
[submodule "subprojects/singularity-write"]
	path = subprojects/singularity-write
	url = https://github.com/singularityos-lab/singularity-write.git
	branch = main
[submodule "subprojects/singularity-greeter"]
	path = subprojects/singularity-greeter
	url = https://github.com/singularityos-lab/singularity-greeter.git
	branch = main
[submodule "subprojects/singularity-wallpapers"]
	path = subprojects/singularity-wallpapers
	url = https://github.com/singularityos-lab/singularity-wallpapers.git
	branch = main
[submodule "subprojects/singularity-themes"]
	path = subprojects/singularity-themes
	url = https://github.com/singularityos-lab/singularity-themes.git
	branch = main
[submodule "subprojects/singularity-plugins"]
	path = subprojects/singularity-plugins
	url = https://github.com/singularityos-lab/singularity-plugins.git
	branch = main
[submodule "subprojects/singularity-widgets"]
	path = subprojects/singularity-widgets
	url = https://github.com/singularityos-lab/singularity-widgets.git
	branch = main
[submodule "subprojects/singularity-session"]
	branch = main
	path = subprojects/singularity-session
	url = https://github.com/singularityos-lab/singularity-session.git
[submodule "subprojects/singularity-shell"]
	path = subprojects/singularity-shell
	url = https://github.com/singularityos-lab/singularity-shell.git
	branch = main
[submodule "subprojects/singularity-loginui"]
	path = subprojects/singularity-loginui
	url = https://github.com/singularityos-lab/singularity-loginui.git
[submodule "subprojects/singularity-installer"]
	path = subprojects/singularity-installer
	url = https://github.com/singularityos-lab/singularity-installer.git
[submodule "subprojects/singularity-gestures"]
	path = subprojects/singularity-gestures
	url = https://github.com/singularityos-lab/singularity-gestures.git
	branch = main
[submodule "subprojects/libinput"]
	path = subprojects/libinput
	url = https://github.com/singularityos-lab/libinput.git
	branch = singularity
[submodule "subprojects/singularity-clock"]
	path = subprojects/singularity-clock
	url = https://github.com/singularityos-lab/singularity-clock.git
[submodule "subprojects/singularity-accounts"]
	path = subprojects/singularity-accounts
	url = https://github.com/singularityos-lab/singularity-accounts.git
[submodule "subprojects/singularity-sharing"]
	path = subprojects/singularity-sharing
	url = https://github.com/singularityos-lab/singularity-sharing.git
[submodule "subprojects/singularity-nearby"]
	path = subprojects/singularity-nearby
	url = https://github.com/singularityos-lab/singularity-nearby.git
[submodule "subprojects/singularity-media-plugins"]
	path = subprojects/singularity-media-plugins
	url = https://github.com/singularityos-lab/singularity-media-plugins.git
[submodule "subprojects/singularity-disks"]
	path = subprojects/singularity-disks
	url = https://github.com/singularityos-lab/singularity-disks.git
[submodule "subprojects/singularity-help"]
	path = subprojects/singularity-help
	url = https://github.com/singularityos-lab/singularity-help.git
[submodule "subprojects/singularity-weather"]
	path = subprojects/singularity-weather
	url = https://github.com/singularityos-lab/singularity-weather.git
[submodule "subprojects/singularity-characters"]
	path = subprojects/singularity-characters
	url = https://github.com/singularityos-lab/singularity-characters.git
[submodule "subprojects/singularity-usage"]
	path = subprojects/singularity-usage
	url = https://github.com/singularityos-lab/singularity-usage.git
[submodule "subprojects/singularity-fonts"]
	path = subprojects/singularity-fonts
	url = https://github.com/singularityos-lab/singularity-fonts.git
[submodule "subprojects/singularity-logs"]
	path = subprojects/singularity-logs
	url = https://github.com/singularityos-lab/singularity-logs.git
[submodule "subprojects/singularity-tour"]
	path = subprojects/singularity-tour
	url = https://github.com/singularityos-lab/singularity-tour.git
[submodule "subprojects/singularity-contacts"]
	path = subprojects/singularity-contacts
	url = https://github.com/singularityos-lab/singularity-contacts.git
[submodule "subprojects/singularity-maps"]
	path = subprojects/singularity-maps
	url = https://github.com/singularityos-lab/singularity-maps.git
[submodule "subprojects/singularity-camera"]
	path = subprojects/singularity-camera
	url = https://github.com/singularityos-lab/singularity-camera.git
[submodule "subprojects/singularity-connections"]
	path = subprojects/singularity-connections
	url = https://github.com/singularityos-lab/singularity-connections.git
[submodule "subprojects/singularity-scanner"]
	path = subprojects/singularity-scanner
	url = https://github.com/singularityos-lab/singularity-scanner.git
[submodule "subprojects/singularity-passwords"]
	path = subprojects/singularity-passwords
	url = https://github.com/singularityos-lab/singularity-passwords.git
[submodule "subprojects/singularity-lettere"]
	path = subprojects/singularity-lettere
	url = https://github.com/singularityos-lab/singularity-lettere.git
[submodule "subprojects/singularity-backups"]
	path = subprojects/singularity-backups
	url = https://github.com/singularityos-lab/singularity-backups.git
[submodule "subprojects/singularity-printers"]
	path = subprojects/singularity-printers
	url = https://github.com/singularityos-lab/singularity-printers.git
[submodule "subprojects/singularity-nearby-app"]
	path = subprojects/singularity-nearby-app
	url = https://github.com/singularityos-lab/singularity-nearby-app.git
[submodule "subprojects/singularity-notes"]
	path = subprojects/singularity-notes
	url = https://github.com/singularityos-lab/singularity-notes.git
[submodule "subprojects/singularity-voice"]
	path = subprojects/singularity-voice
	url = https://github.com/singularityos-lab/singularity-voice.git
[submodule "subprojects/singularity-machines"]
	path = subprojects/singularity-machines
	url = https://github.com/singularityos-lab/singularity-machines.git
[submodule "subprojects/singularity-spreadsheet"]
	path = subprojects/singularity-spreadsheet
	url = https://github.com/singularityos-lab/singularity-spreadsheet.git
[submodule "subprojects/singularity-radio"]
	path = subprojects/singularity-radio
	url = https://github.com/singularityos-lab/singularity-radio.git
[submodule "subprojects/singularity-podcasts"]
	path = subprojects/singularity-podcasts
	url = https://github.com/singularityos-lab/singularity-podcasts.git
[submodule "subprojects/singularity-news"]
	path = subprojects/singularity-news
	url = https://github.com/singularityos-lab/singularity-news.git
[submodule "subprojects/singularity-fediverse"]
	path = subprojects/singularity-fediverse
	url = https://github.com/singularityos-lab/singularity-fediverse.git
[submodule "subprojects/singularity-colorpicker"]
	path = subprojects/singularity-colorpicker
	url = https://github.com/singularityos-lab/singularity-colorpicker.git
[submodule "subprojects/singularity-drivewriter"]
	path = subprojects/singularity-drivewriter
	url = https://github.com/singularityos-lab/singularity-drivewriter.git
[submodule "subprojects/singularity-tasks"]
	path = subprojects/singularity-tasks
	url = https://github.com/singularityos-lab/singularity-tasks.git
[submodule "subprojects/singularity-translate"]
	path = subprojects/singularity-translate
	url = https://github.com/singularityos-lab/singularity-translate.git
[submodule "subprojects/singularity-authenticator"]
	path = subprojects/singularity-authenticator
	url = https://github.com/singularityos-lab/singularity-authenticator.git
[submodule "subprojects/singularity-qrcodes"]
	path = subprojects/singularity-qrcodes
	url = https://github.com/singularityos-lab/singularity-qrcodes.git
[submodule "subprojects/singularity-draw"]
	path = subprojects/singularity-draw
	url = https://github.com/singularityos-lab/singularity-draw.git
[submodule "subprojects/singularity-slides"]
	path = subprojects/singularity-slides
	url = https://github.com/singularityos-lab/singularity-slides.git
[submodule "subprojects/singularity-database"]
	path = subprojects/singularity-database
	url = https://github.com/singularityos-lab/singularity-database.git
[submodule "subprojects/singularity-formula"]
	path = subprojects/singularity-formula
	url = https://github.com/singularityos-lab/singularity-formula.git
[submodule "subprojects/singularity-browser"]
	path = subprojects/singularity-browser
	url = https://github.com/singularityos-lab/singularity-browser.git
[submodule "subprojects/singularity-atelier"]
	path = subprojects/singularity-atelier
	url = https://github.com/singularityos-lab/singularity-atelier.git
[submodule "subprojects/singularity-keyframe"]
	path = subprojects/singularity-keyframe
	url = https://github.com/singularityos-lab/singularity-keyframe.git
[submodule "subprojects/singularity-montage"]
	path = subprojects/singularity-montage
	url = https://github.com/singularityos-lab/singularity-montage.git
[submodule "subprojects/singularity-publish"]
	path = subprojects/singularity-publish
	url = https://github.com/singularityos-lab/singularity-publish.git
[submodule "subprojects/singularity-reader"]
	path = subprojects/singularity-reader
	url = https://github.com/singularityos-lab/singularity-reader.git
[submodule "subprojects/singularity-vector"]
	path = subprojects/singularity-vector
	url = https://github.com/singularityos-lab/singularity-vector.git
[submodule "subprojects/singularity-wave"]
	path = subprojects/singularity-wave
	url = https://github.com/singularityos-lab/singularity-wave.git
[submodule "subprojects/vetro"]
	path = subprojects/vetro
	url = https://github.com/singularityos-lab/vetro.git
